packaging_format = 2

id = "samba"
name = "Samba"
description.en = "Share directories on your private network thanks to SMB protocol"
description.fr = "Partager des dossiers sur un réseau privé via le protocole SMB"

version = "4.13.13~ynh3"

maintainers = ["Galette"]

[upstream]
license = "AGPL-3.0-only"
website = "https://www.samba.org/"
admindoc = "https://www.samba.org/samba/docs/"
code = "https://git.samba.org/?p=samba.git;a=summary"

[integration]
yunohost = ">= 11.2.29"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = "not_relevant"

sso = "not_relevant"

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]

[resources]
    [resources.system_user]

    [resources.install_dir]
    dir = "/etc/samba"

    [resources.ports]
    main.default = 445
    main.exposed = "Both"

    [resources.data_dir]
    subdirs = ["share"]

    [resources.permissions]
    share.show_tile = false
    share.allowed = "all_users"

    [resources.apt]
    packages = "samba"
